body { 
    background-image: url("/static/images/mike-marrah-x4QaRXytmow-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(255, 253, 253);
  }
#login-page-conatiner {
    width:28%;
    min-height:100vh;
    border-radius: 25px;
    margin: 0 auto;
    display:flex;
    flex-wrap:wrap;
    font-family: 'Poppins', sans-serif;
    justify-content:center;
    align-items:center;padding:15px;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    position:relative;
    z-index:1;
    /* background-color: transparent; */
    /* opacity: .5; */
    color: white;
    /* box-shadow: inset 1px 2000px rgba(208, 208, 208, 0.54); */
    background: rgba(33, 33, 33, 0.5);
}

.login-wrap-container {
    width:500px;
    border-radius:25px;
    justify-content: center;
    overflow:hidden;
    margin: 0 auto;
    padding:55px 55px 37px;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    padding:15px;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    position:relative;
    z-index:1;
    font-family: 'Poppins', sans-serif;
    color: white;
    /* background:-webkit-linear-gradient(315deg, #d5fefd 0%, #fffcff 74%);
    background:-o-linear-gradient(315deg, #d5fefd 0%, #fffcff 74%);
    background:-moz-linear-gradient(315deg, #d5fefd 0%, #fffcff 74%);
    background:linear-gradient(315deg, #d5fefd 0%, #fffcff 74%); */
}

  html {
    background-size: cover;
    background-position: center;
    height: 100% ;
    /* background: url("static/images/nasa-Q1p7bh3SHj8-unsplash (1).jpg"); */ */
    /* background-image: url("static/images/nasa-Q1p7bh3SHj8-unsplash (1).jpg") ; */
}
#log-in-existing-user {
    color: white;
    position: center;
}

/* #login-page-background {
    background-image: url("/static/images/nasa-Q1p7bh3SHj8-unsplash (1).jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */

.navbar-brand{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 22px;
    color: rgb(30, 41, 62);
}
.nav-item {
    padding-left:30px;
    padding-right:30px;
    float: right;
    text-align: right;
    display: inline-block;
    color: white;
}

.nav-text {
    color: rgb(170, 245, 247);
}


.login-title{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    line-height: .2;
    text-align: center;
    /* text-transform: uppercase; */
    display: block;
    margin-bottom: 0px;
}
.login-text {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    line-height: .2;
    text-align: center;
    display: block;
    margin-top: 50px;
}

.login-info {
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    color:white;
    line-height:1.2;
    text-align: center;
    display:block;
    width:100%;
    height:45px;
    background:0 0;
    padding:0 5px 0 5px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: auto;
}

.text-center {
    justify-content:center;
}

.profile-image {
    background: url("static/images/shannon-mcinnes-FOvVKp7IA68-unsplash.jpg");
    background-size: cover;
}

#current-month-chart{
    float: right;
    margin: 0 2.5%;
    width: 55%;
    margin-bottom:2.5em;
    border-radius:5px;
    box-sizing: border-box;
    margin: 5;
    text-align: justify;
    display: block;
    justify-content: space-between;
    border:50 solid transparent;
    clear: both;
    background-color: rgb(172, 226, 255);
    -webkit-box-shadow:0 0 30px rgba(0,0,0,.08);
    box-shadow:0 0 20px rgba(0,0,0,.08);
    font-family: 'Raleway', sans-serif;

}

#previous-month-chart {
    float: right;
    margin: 0 2.5%;
    width: 55%;
    margin-bottom:2.5em;
    border-radius:5px;
    box-sizing: border-box;
    margin: 5;
    text-align: justify;
    display: block;
    justify-content: space-between;
    border:50 solid transparent;
    clear: both;
    background-color: rgb(172, 226, 255);
    -webkit-box-shadow:0 0 30px rgba(0,0,0,.08);
    box-shadow:0 0 20px rgba(0,0,0,.08);
    font-family: 'Raleway', sans-serif;

}

.row {
    /* display: -ms-flexbox; */
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    clear: both;
}

content {
    float: left;
    padding: 1.875em;
    width: 100%;
}
.boxes {
    margin-bottom:2.5em;
    border-radius:5px;
    padding: 100;
    border: 10;
    box-sizing: border-box;
    margin: 5;
    text-align: justify;
    display: block;
    justify-content: space-between;
    border:50 solid transparent;
    float: center;
    box-align: center;
    clear: both;
    background-color: white;
    -webkit-box-shadow:0 0 30px rgba(0,0,0,.08);
    box-shadow:0 0 20px rgba(0,0,0,.08);
    font-family: 'Raleway', sans-serif;
    color: black;

}

.box-body {
    float: left;
    padding: 1.25em;
    position: relative;
    width: 100%;
    font-family: 'Raleway', sans-serif;

}

.card {
    background: rgba(33, 33, 33, 0.5);
}

.card-title {
    color: black;
}

