#homepage { 
    background-image: url("/static/images/joey-kyber-45FJgZMXCK8-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(255, 253, 253);
  }

.background { 
    background-image: url("/static/images/francesco-gallarotti-ruQHpukrN7c-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    background-attachment: fixed;
    color: rgb(255, 253, 253);
  }
.login-info::placeholder {
    color: rgba(255, 255, 255, 0.735);
}

#login-page-conatiner {
    width:28%;
    min-height:100vh;
    border-radius: 25px;
    margin: 0 auto;
    display:flex;
    flex-wrap:wrap;
    font-family: 'Poppins', sans-serif;
    justify-content:center;
    align-items:center;padding:15px;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    position:relative;
    z-index:1;
    color: white;
    background: rgba(45, 44, 44, 0.5);
}

.login-wrap-container {
    width:500px;
    border-radius:25px;
    justify-content: center;
    overflow:hidden;
    margin: 0 auto;
    padding:55px 55px 37px;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    padding:15px;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    position:relative;
    z-index:1;
    font-family: 'Poppins', sans-serif;
    color: white;

}

  html {
    background-size: cover;
    background-position: center;
    height: 100% ;
}

#log-in-existing-user {
    color: white;
    position: center;
}

#login-new-user {
    color: white;
    position: center;
}

.navbar-brand{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 22px;
    color: rgb(30, 41, 62);
}
.nav-item {
    padding-left:30px;
    padding-right:30px;
    float: right;
    text-align: right;
    display: inline-block;
    color: white;
}

.nav-text {
    color: rgb(170, 245, 247);
}


.login-title{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    line-height: .2;
    text-align: center;
    display: block;
    margin-bottom: 0px;
}
.login-text {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    line-height: .2;
    text-align: center;
    display: block;
    margin-top: 20px;
}

.login-info {
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    color:white;
    line-height:1.2;
    text-align: center;
    display:block;
    width:100%;
    height:45px;
    background:0 0;
    padding:0 5px 0 5px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: auto;
}

.text-center {
    justify-content:center;
}

.profile-image {
    background: url("static/images/shannon-mcinnes-FOvVKp7IA68-unsplash.jpg");
    background-size: cover;
}


#container {
    display: flex;
    background: rgba(255, 255, 255, 0.756);
    padding: 1.875em;
    margin-top: 50px;
    margin-left: 70px;
    width: 100%;
    color: white;
}
#profile-header {
    text-align: left;
    margin-left: 60px;
    color: rgb(252, 250, 250);
}
.username {
    margin-left: 60px;
    margin-bottom: 0;
    color: rgb(255, 255, 255);
}
#suggestion-pop-up {
    margin-left: 70px;
    float: left;
    background-color: #738bdc;
    background-image: linear-gradient(315deg, #738bdc 0%, #48c3eb 74%);
}
.box-body {
    float: left;
    padding: 1.25em;
    position: relative;
    width: 100%;
    font-family: 'Raleway', sans-serif;

}

.card {
    /* background: rgba(165, 165, 165, 0.625); */
    float: center;
    text-align: center;
    background-color: #f9f9f9;
    
}

.chart-names {
    color: black;
    text-align: center;
}


.card-title {
    color: rgb(0, 0, 0);
}

.update-info-container{
    width:38%;
    min-height:100vh;
    border-radius: 10px;
    margin: 0 auto;
    display:flex;
    flex-wrap:wrap;
    font-family: 'Poppins', sans-serif;
    justify-content:center;
    text-align: center;
    align-items:center;padding:15px;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    position:relative;
    z-index:1;
    color: white;
    background: rgba(26, 26, 26, 0.5);
}



.update-info-input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: -(rgba(136, 136, 136, 0.338));
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-radius: 0px;
}

.globe {
   margin-top: 10px;
   margin-bottom : 20px; 
}

.update-info-header {
    margin-top: 50px;
}

#wrapper {
    background-color:rgba(150, 149, 149, 0.619);
    color:white;
    border: none;
    outline:none;
    height:30px;
    transition:height 1s;
    -webkit-transition:height 1s;
    width: 250px;
}

#emission-info{
    color: white;
}

.col-4 {
    background-color: rgba(82, 82, 82, 0.557);
    margin-bottom: 20px;
}

.bi.bi-person-fill{
    text-align: left;

}

.btn.btn-outline-light {
    margin-top: 10px;
}