{% extends 'base.html' %}
{% block title %}gather info here page{% endblock %}
{% block body %}
<h1>Hi! Tell us a little more about your lifestyle</h1>
<form action="/get-emission-info">
    What does your car run on?
    <select name="fuel-type">
        <option value="diesel">Diesel</option>
        <option value="gasoline">Gasoline</option>
        <option value="electric">Electric</option>
    </select>
    <br>
    <form>
    <label>What is your vehicle's mpg?</label>
       <input type="text" name="mpg"> 
    </form>
    <br>
    <form>
        <label>How many miles per year do you travel on pubic transit?</label>
        <input type="text" name="public-trans">
    </form><br>
    <form>
        <label>household income</label>
        <input type="text" name="household-income">
    </form><br>
    <form>
        <label>How many people live in your household></label>
        <input type="text" name="household-amt">
    </form><br>
    <form>
        <label>Please enter your monthly electricity bill</label>
        <input type="text" name="elect-bill">
    </form><br>
    <form>
        <label> Please enter your monthly natrual gas bill</label>
        <input type="text" name="nat-gas-bill">
    </form></form>
{% endblock %}