{% extends 'base.html' %}
{% block title %}existing user page{% endblock %}

{% block body %}
{% for msg in get_flashed_messages() %}
    <p>
      {{ msg }}
    </p>
  {% endfor %}
<h1>Welcome back {{user_by_email.fname}}!</h1>
<form action="/existing-users"></form>
<h4>Here is your yearly carbon emission form travel</h4>
<p>
   {{vehicle_travel.carbon_footprint}}
    
</p>
<h4>Here are your month over month trends on natural gas usage</h4>
<p>
    ${{nat_gas_use.nat_gas_bill}}
</p>
<h4>Here are your month over month trends on electricity usage</h4>
<p>
    ${{electricity_use.elect_bill}}
</p>
{% endblock %}