{% extends 'base.html' %}
{% block title %}Emissions Footprint Home{% endblock %}

{% block body %}

  <body>
  <form class="box-login" action="/existing_users">
    <div ></div>
    <h1>Welcome!</h1>
    <h2>LOGIN</h2>
    <p>
      <input class="enter-email" placeholder="Email" type="text" name="email">
    </p>
    <p>
      Password <input type="password" name="password">
    </p>
    <p>
    <button type="submit" id="log-in-existing-user">Log in</button>
    </p>
  </form>
  <form>
  <p>
    Don't have an account? 
    <a href="/create-new-user">Join now!</a>
  </p>
  </form>
  </body>
  {% endblock %}


