{% extends 'base.html' %}
{% block title %}Emissions Footprint Home{% endblock %}

{% block body %}

  <body>
  <div class="login-page-conatiner" style="background-image: url(https://i.imgur.com/TJ1Q4CV.jpg);"></div>
  <div class="login-wrap=container"></div>
  <form class="login-container-form" action="/existing_users">
    <div ></div>
    <span class="login-title"><h1>Welcome!</h1>
    <h2>LOGIN</h2>
    </span>
    <p>
      <input class="enter-email" placeholder="Email" type="text" name="email">
      
    </p>
    <p>
     <input class="enter-password" placeholder="Password" type="password" name="password">
    </p>
    <p>
    <button type="submit" id="log-in-existing-user">Log in</button>
    </p>
  </div>
  </form>
  <form>
  <p>
    Don't have an account? 
    <a href="/create-new-user">Join now!</a>
  </p>
  </form>
  </body>
  {% endblock %}


