{% extends 'base.html' %}
{% block title %}Emissions Footprint Home{% endblock %}

{% block body %}
  <div id="login-page-background"></div>
  <div id="login-page-conatiner">
  <div class="login-wrap-container">
  <form class="login-container-form" action="/existing_users">
    <i class="fas fa-globe-americas"></i>
    <span class="login-title"><h1>Welcome!</h1>
      
    <h2>LOGIN</h2>
    </span>
    
    <p>
      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </svg>
      <input class="login-info" placeholder="Email" type="text" name="email">
      
    </p>
    <p>
      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-lock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"/>
      <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
      </svg>
     <input class="login-info" placeholder="Password" type="password" name="password">
    </p>
    <p>
    <!-- <button type="submit" id="log-in-existing-user">Log in</button> -->
    <div class="text-center">
    <button type="submit" id="log-in-existing-user" class="btn btn-outline-dark">LOGIN</button>
   </div> 
  </p>
  </div>
  </form>
  <form>
  <p>
    Don't have an account? 
    <a href="/create-new-user">Join now!</a>
  </p>
  </form>
</div>
</div>
</div>
  {% endblock %}


