{% extends 'base.html' %}
{% block title %}new user info{% endblock %}
{% block body %}
<div id="homepage">
<div id="login-page-conatiner">
<div class="login-wrap-container">
<span class="login-title"><h1>Welcome!</h1>
<i class="fas fa-globe-americas fa-5x"></i>
<br>
<span class ="login-text"><h3>Create an account</h3></span>
  <form action="/new_users" method="POST">
    <p>
      <input class="login-info" placeholder="First Name" type="text" name="new-user-f-name">
      </p>
    <p>
      <input class="login-info" placeholder="Username" type="text" name="new-user-username">
    </p>
    <p>
    <input class="login-info" placeholder="Email" type="text" name="new-user-email">

    </p>
    
    <p>  
    <input class="login-info" placeholder="Password" type="password" name="new-user-password">
 
    </p>
    <p>
      <button type="submit" id="login-new-user" class="btn btn-secondary">Create Account</button>


    </p>
  </form>
</div>
</div>
</div>
{% endblock %}
