{% extends 'base.html' %}
{% block title %}profile{% endblock %}

{% block head %}
<script src="https://cdn.cool-js-lib.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script src="chars.js"></script>
{% endblock %}

{% block body %}
<h2> this is the profile page</h2>

<div id="profile-chart"></div>
<p>Hi {{ user_obj.fname }}! </p>
<br>  
Check out your emissions for the year by category:
<canvas id="my-donut-chart"></canvas>
<br>

Vehicle Travel Emissions:
{{vehicle_emit}}
<br>
Natural Gas Emissions:
{{nat_gas_emit}}
<br>
Public Transit Emissions:
{{public_trans_emit}}
<br>
Electricity Emissions:
{{elect_bill}}

</p>
</div>

{% endblock %}