{% extends 'base.html' %}

{% block title %}profile{% endblock %}

{% block head %}
<!-- <script src="https://cdn.cool-js-lib.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.4/randomColor.min.js"></script>

{% endblock %}

{% block body %}
<div id="profile-chart">
<h2>Hi {{ user_obj.fname }}! </h2>
Check out your emissions for the year by category:
<canvas id="myDonutChart"></canvas>
</div>
<br>
<p>
</p>

{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/charts.js"></script>
{% endblock %}