{% extends 'base.html' %}

{% block title %}profile{% endblock %}

{% block head %}
<!-- <script src="https://cdn.cool-js-lib.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.4/randomColor.min.js"></script>

{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a href="/">Home </a> <span class="sr-only">(current)</span></a>
        </li><br>
        <li class="nav-item">
          <a href="/existing_users"> Profile </a>
        </li>
        <li class="nav-item">
          <a href="/show-update-form" method="POST">update info </a>
        </li>

      </ul>
    </div>
  </nav>
<button type="submit" id="suggestion-pop-up">Suggestions?</button>
<div id="profile-chart">
<h2>Hi {{ user_obj.fname }}! </h2>
Check out your emissions for this month by category:
<canvas id="currentMonthDonutChart"></canvas>
</div>
<br>
{% if show_previous_month and show_current_month%}
    Previous months emissions chart
    <div id="previous-month-chart">
    <canvas id="previousMonthDonutChart"></canvas>
    </div>
{% endif %}
<br>
    previous month electricity emissions:
    {{previous_elect_emission}}
<br>
    current month electricity emissions:
    {{ current_elect_emission}}
<br>
    previous month natural gas emissions:
        {{previous_month_gas_emit}}
<br>
    current month natural gas emissions:
        {{current_nat_gas_emit}}

<br>
    current month vehicle emissions:
    {{current_vehicle_emit}}
<br>
    previous month vehicile emissions:
    {{previous_month_vehicle_emit}}

<br>
    previous month public transit emissions:
    {{previous_month_public_trans_emit}}
<br>
    curent months public transit emissions:
    {{current_public_trans_emit}}
<br>

</p>

{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/charts.js"></script>
{% endblock %}