{% extends 'base.html' %}
{% block title %}update your info here{% endblock %}

{% block body%}
<div id="homepage">
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="color: #ffe3d8;">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li>
                <div class="nav-item">
                <i class="fas fa-globe-americas fa-2x" style="color: white;"></i>
            </div>
              </li>
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/show-profile-page"> Profile </a>
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/show-update-form" method="POST">update info</a>
            </li>
          </ul>
        </div>
      </nav>
<div class="update-info-container">
    <span class="update-info-header"><h2>Please Update Your Emissions Info Below</h2>
    <br>
    <div class="globe">
    <i class="fas fa-globe-americas fa-5x"></i>
    </span>
    </div>
<form action="/update-info" method="POST">
    <div class="update-info-text">What is your zipcode?</div>
    <input type="text" name="zipcode" class="update-info-input" id="wrapper">
    
    <div class="update-info-text">What does your car run on?</div>
    <select name="fuel-type" id="wrapper">
        <option value="1">Gasoline</option>
        <option value="0">Diesel</option>
        <option value="2">Electric</option>
    </select>
    
    <div class="update-info-text"><label>What is your vehicle's mpg?</label></div>
       <input type="text" name="mpg" id="wrapper"> 
    
    <div class="update-info-text"><label>How many miles per month do you travel by car?</label></div>
        <input type="text" name="vehicle-travel" id="wrapper">
    
    <div class="update-info-text"><label>How many miles per month do you travel on pubic transit?</label></div>
        <input type="text" name="public-trans" id="wrapper">

    <div class="update-info-text"><label>How many people live in your household</label></div>
        <select name="household-amt" id="wrapper">
            <option value="1">1 person</option>
            <option value="2">2 people</option>
            <option value="3">3 people</option>
            <option value="4">4 people</option>
            <option value="5">5 or more people</option>
        </select>

    <div class="update-info-text"><label>Please enter your monthly electricity bill</label></div>
        <input type="text" name="elect-bill" id="wrapper">

    <div class="update-info-text"><label> Please enter your monthly natrual gas bill</label></div>
        <input type="text" name="nat-gas-bill" id="wrapper">
        
    <p>
        <button type="submit" id="log-in-existing-user" class="btn btn-outline-light">SUBMIT</button>
      </p>
</form>
</div>
</div>
{% endblock %}