{% extends 'base.html' %}
{% block title %}update your info here{% endblock %}

{% block body%}
<!-- <input type="date" id="update-date" name="datetime"
       value="datetime"> -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
<a class="navbar-brand"></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
    <li class="nav-item active">
        <a href="/">Home </a> <span class="sr-only">(current)</span></a>
    </li><br>
    <li class="nav-item">
        <a href="/existing_users"> Profile </a>
    </li>
    <li class="nav-item">
        <a href="/show-update-form" method="POST">update info </a>
    </li>

    </ul>
</div>
</nav>
<form action="/update-info" method="POST">
    What is your zipcode?
    <input type="text" name="zipcode">
    <br>
    What does your car run on?
    <select name="fuel-type">
        <option value="1">Gasoline</option>
        <option value="0">Diesel</option>
        <option value="2">Electric</option>
    </select>
    <br>
    <label>What is your vehicle's mpg?</label>
       <input type="text" name="mpg"> 
    <br>
        <label>How many miles per month do you travel by car?</label>
        <input type="text" name="vehicle-travel">
    <br>
        <label>How many miles per month do you travel on pubic transit?</label>
        <input type="text" name="public-trans">

    <br>
        <label>How many people live in your household</label>
        <select name="household-amt">
            <option value="1">1 person</option>
            <option value="2">2 people</option>
            <option value="3">3 people</option>
            <option value="4">4 people</option>
            <option value="5">5 or more people</option>
        </select>
    <br>
        <label>Please enter your monthly electricity bill</label>
        <input type="text" name="elect-bill">
    <br>
        <label> Please enter your monthly natrual gas bill</label>
        <input type="text" name="nat-gas-bill">
    <p>
        <input type="submit">
      </p>
</form>
{% endblock %}